#logo{
    width: 500px;
    height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body {
    background: url('recursos/Fondo.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    margin: 20px 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

section a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

section img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

section img:hover {
    transform: scale(1.1) rotate(5deg);
}
#audio {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}