body {
    background: url('../Recursos/mery/fondolimon.png');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background: rgba(255, 255, 0, 0.7);
    border-bottom: 3px solid white;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: black;
}

#logo {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

section {
    background: rgba(255, 255, 0, 0.7);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: black;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
}

section img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
}

section img:hover {
    transform: scale(1.1) rotate(5deg);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: rgba(255, 255, 0, 0.7);
    border-top: 3px solid white;
    color: black;
}
button {
    position: fixed;
    top: 10px;
    left: 10px;
    background: linear-gradient(to right, #d0ff00, #a2c700);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background: linear-gradient(to right, #a2c700, #6b8e00);
     transform: scale(1.1);
}
